/*-- main --*/
.main{
	/*position: absolute;*/
    float: left;
	padding:0 0 0 0em;
	width:20%;
	left: 10%;
	top: 12%;
}
.ac-container label{
	border-radius: 3px;
	padding: 8px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	line-height: 33px;
	font-size: 19px;
	background: rgba(127,95,0,.6);
	box-shadow:0px 0px 1px #DF9D77;
	text-shadow: rgba(80, 80, 80, 0.08) 1px 1px,
	rgba(80, 80, 80, 0.07) 2px 2px,
	rgba(80, 80, 80, 0.09) 3px 3px,
	rgba(80, 80, 80, 0.04) 4px 4px,
	rgba(80, 80, 80, 0.06) 5px 5px;
}
.ac-container label:hover{
	background:rgba(127,95,0,.9);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: rgba(127,95,0,.6);
    color: #fff;
	text-shadow: rgba(80, 80, 80, 0.08) 1px 1px,
	rgba(80, 80, 80, 0.07) 2px 2px,
	rgba(80, 80, 80, 0.09) 3px 3px,
	rgba(80, 80, 80, 0.04) 4px 4px,
	rgba(80, 80, 80, 0.06) 5px 5px;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 12px;
	background: transparent url(../images/arrow_up.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background: url(../images/arrow_down.png) no-repeat 0px 0px;
}
.ac-container input{
	display: none;
}
.ac-container article{
	background:#fff;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	line-height: 23px;
    font-size: 14px;
    padding: 15px 20px;
    color: #999;
    background-color: #fff;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 280px;
	border-radius: 2%;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}
.ac-small ul{
	padding:0 1em 0 1em;
	margin:1em auto;
	width: 90.5%;
}
.ac-small ul li{
	list-style-type: none;
    padding:0.4em 2em 0.4em 2em;
    box-shadow: 0px 0px 3px #E1DCDC;
	margin:0 auto 0.5em;
}
.ac-small ul li:hover{
	box-shadow: 0px 0px 3px #E1DCDC;
	border-left:2px solid #E86850;
}
.ac-small ul li a{
	font-size:14px;
	color:#999;
	text-decoration:none;
	text-transform: capitalize;
	display: block;
	cursor: pointer;
}

/*-----start-responsive-design------*/
@media (max-width:1280px){
	.ac-small ul {
		width: 88.5%;
	}
}
@media (max-width:1024px){
	.main {
		width: 50%;
	}
}
@media (max-width:768px){
	.main {
		width: 65%;
	}
}
@media (max-width: 667px){
	.main {
		width: 75%;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 1.5em;
		margin: 0 0 1.5em;
	}
}
@media (max-width: 600px){
	
}
@media (max-width: 480px){
	.ac-container label {
		font-size: 16px;
	}
	.ac-small ul li {
		padding: 0.5em 0 0.5em 2em;
	}
	.ac-container input:checked ~ article.ac-small {
		height: 205px;
	}
	.ac-small ul {
		padding: 0 0 0 1.3em;
	}
}
@media (max-width:414px){
	.main {
		width: 85%;
	}
}
@media (max-width:384px){
	.main h1 {
		font-size: 1.3em;
	}
}
@media (max-width:320px){
	.main {
		padding: 2em 0 2em;
		width:90%;
	}
	.main h1 {
		font-size: 1.2em;
	}
	.ac-container label {
		font-size: 15px;
	}
}